name: Words Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3.6.0
    - uses: actions/setup-node@v3.9.1
      with:
         node-version: '22.21.0'
    - name: use npm
      run: |
       npm install
       npm test