name: Words Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5.0.1
    - uses: actions/setup-node@v3.9.1
      with:
         node-version: '14.21.3'
    - name: use npm
      run: |
       npm install
       npm test